@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}

$green: #2ECC71; 
$purple: #A086D3;
$blue: #00ACEE;
$red: #E74C3C;

@mixin link($color) {
  color: $color;
  &:hover {
    border-color: $color;
  }
}

body {
  color: #171515;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 50px;
  width: 60%;
}

#container {
  display: table;
  height: 100%;
  position: absolute;
  width: 100%;
}

#cell {
  display: table-cell;
  padding: 10%;
  vertical-align: middle;
}

#content {
  display: block;
  margin: 0 auto;
  width: 100%;
}

a {
  text-decoration: none;
  border-bottom: 1px dashed transparent;
  transition: border-color 0.15s linear;
  -moz-transition: border-color 0.15s linear;    /* FF3.7+ */
  -o-transition: border-color 0.15s linear;      /* Opera 10.5 */
  -webkit-transition: border-color 0.15s linear; /* Saf3.2+, Chrome */

  &:active {
    position: relative;
    top: 1px;
  }
}

#apps {
  @include link($green);
}

#github {
  @include link($purple);
}

#twitter {
  @include link($blue);
}

